.fade-enter {
  opacity: 0.01;
  pointer-events: none;
  transform: translateY(30px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  transition: all 400ms;
}

.fade-exit {
  opacity: 0;
  position: fixed;
  pointer-events: auto;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  pointer-events: none;
  position: fixed;
  transition: opacity 400ms;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
