.fade-enter {
  opacity: 0.01;
  pointer-events: none;
  transform: translateY(30px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
  transition: all 400ms;
}

.fade-exit {
  opacity: 0;
  position: fixed;
  pointer-events: auto;
}

.fade-exit.fade-exit-active {
  opacity: 0.01;
  pointer-events: none;
  position: fixed;
  transition: opacity 400ms;
}

div.transition-group {
  position: relative;
}

section.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.body {
  width: 100%;
  opacity: 1;
  z-index: 2;
}


.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  opacity: 0.3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.landing {
  background-size: cover;
  display: flex;
  position: fixed;
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #e0cfc2;
  font-family: 'Space Grotesk', 'DM Sans', Arial, Helvetica, sans-serif;

  &:after {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: #191819;
  }

  .header {
    width: 110%;
    display: flex;
    position: relative;
    word-wrap: none;
    white-space: nowrap;
    align-items: center;
    opacity: 0;
    z-index: 1;
    transition: opacity 1s ease-in-out;

    &.left:after, &.right:before {
      content: '';
      display: block;
      height: 10px;
      flex: 1 1 auto;
      background: #e0cfc2;

      @media screen and (max-width: 600px) {
        height: 3px;
      }
    }
  }

  h1 {
    font-size: 100px;
    font-weight: 600;
    margin: 0;
    margin: 0 32px;

    @media screen and (max-width: 600px) {
      font-size: 36px;
    }
  }
}

.chevron {
  position: fixed;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  bottom: 16px;
  font-size: 48px;
  color: rgba(224, 207, 194, 50);
  font-weight: 100;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.blurb {
  height: 100vh;
  max-width: 800px;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e0cfc2;
  flex-direction: column;
  margin: 0 auto;

  p.link {
    margin: 0;
  }
  
  a {
    color: #e0cfc2;
  }
}

.project {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #191819;
  flex-direction: row;
  cursor: pointer;

  img {
    width: auto; 
    height: 60%;
    z-index: 0;

    @media screen and (max-width: 600px) {
      height: 50%;
      width: auto;
    }
  }

  &:nth-of-type(odd) {
    flex-direction: row-reverse;
  } 

  @media screen and (max-width: 600px) {
    flex-direction: column;

    &:nth-of-type(odd) {
      flex-direction: column;
    } 
  }
  
  .project-content {
    max-width: 400px;
    padding: 32px;
    z-index: 2;
    
    h1 {
      margin: 0;
    }

    h4 {
      font-weight: 400;
      font-size: 16px;
      margin: 0;
    }

    h6 {
      text-transform: uppercase;
      font-size: 10px;
      font-weight: 800;
      margin: -8px 0 16px 0;
      letter-spacing: 0.5px;
      font-family: Helvetica, Arial, sans-serif;
    }
  }
}