.project-page.product {
  background: white;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-size: 36px;
    margin-bottom: 16px;
    max-width: 600px;
    text-align: center;
    width: 100%;
    padding: 0 32px;
  }

  p {
    max-width: 600px;
    padding: 0 32px;
    margin-bottom: 32px;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  img {
    width: 100%;
    padding: 32px 32px 8px 32px;
    max-width: 800px;

    &:first-of-type {
      max-width: 1000px;
    }
  }

  .img {
    width: 90%;
    max-width: 720px;
  }
}